.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1024px;
  min-width:200px;
  max-width:1440px;
  margin:auto;
  background-color:#ffffff;
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Navigation-Top{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:133px;
  margin-top:0px;
  margin-bottom:891px;
  min-height:133px;
  background-color:rgba(0, 40, 107, 1);
}
.Navigation-Top-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.rentta-logo-1-remove{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:0px;
  width:404px;
  min-width:404px;
  height:153px;
  margin-top:0px;
  margin-bottom:-20px;
  min-height:153px;
  content:url(../img/rentta_logo_1_removebg_preview_1.png);
}
.rentta-logo-1-remove-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Image{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:1316px;
  width:66px;
  min-width:66px;
  height:66px;
  margin-top:-104px;
  margin-bottom:38px;
  min-height:66px;
  background-image:url(../img/Image.png);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border:3px solid rgba(164, 186, 222, 1);
  border-radius:79px;
}
.Image-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Navigation-Top-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:133px;
  margin-top:-1024px;
  margin-bottom:891px;
  min-height:133px;
  background-color:rgba(0, 40, 107, 1);
}
.Navigation-Top-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.rentta-logo-1-remove-1{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:0px;
  width:404px;
  min-width:404px;
  height:153px;
  margin-top:0px;
  margin-bottom:-20px;
  min-height:153px;
  content:url(../img/rentta_logo_1_removebg_preview_1_1.png);
}
.rentta-logo-1-remove-1-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Image-1{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:1316px;
  width:66px;
  min-width:66px;
  height:66px;
  margin-top:-104px;
  margin-bottom:38px;
  min-height:66px;
  background-image:url(../img/Image_1.png);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border:3px solid rgba(164, 186, 222, 1);
  border-radius:79px;
}
.Image-1-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.Navigation-Top-2{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:133px;
  margin-top:-1024px;
  margin-bottom:891px;
  min-height:133px;
  background-color:rgba(0, 40, 107, 1);
}
.Navigation-Top-2-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.rentta-logo-1-remove-2{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:404px;
  min-width:404px;
  height:153px;
  margin-top:0px;
  margin-bottom:-20px;
  min-height:153px;
  content:url(../img/rentta_logo_1_removebg_preview_1_2.png);
}
.rentta-logo-1-remove-2-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Image-2{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:1316px;
  width:66px;
  min-width:66px;
  height:66px;
  margin-top:-104px;
  margin-bottom:38px;
  min-height:66px;
  background-image:url(../img/Image_2.png);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border:3px solid rgba(164, 186, 222, 1);
  border-radius:79px;
}
.Image-2-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Rectangle-1{
  position:relative;
  z-index:39;
  pointer-events:none;
  opacity:0.10000000149011612;
  margin-left:0px;
  width:1440px;
  min-width:1440px;
  height:891px;
  margin-top:-891px;
  margin-bottom:0px;
  min-height:891px;
  content:url(../img/Rectangle_1.png);
}
.Rectangle-1-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.Start-your-search{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:415px;
  width:601px;
  min-width:601px;
  margin-top:-780px;
  margin-bottom:722px;
  min-height:58px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 40, 107, 1);
  font-style:normal;
  font-family:Lato;
  font-weight:700;
  font-size:60px;
  line-height:187.5%;
}
.Start-your-search-outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
.Navigation-Tab-Full{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:355px;
  width:625px;
  min-width:625px;
  height:50px;
  margin-top:-615px;
  margin-bottom:565px;
  min-height:50px;
}
.Navigation-Tab-Full-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.Navigation-Tab-1{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:0%;
  width:38.4608%;
  height:100%;
  margin-top:0%;
  background-color:rgba(71, 175, 255, 1);
  border:1px solid rgba(0, 93, 175, 1);
}
.Navigation-Tab-1-outer{
  pointer-events:none;
  z-index:35;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Rent-Controlled{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:32px;
  width:177px;
  min-width:177px;
  margin-top:11px;
  margin-bottom:10px;
  min-height:29px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 40, 107, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:24px;
  letter-spacing:-0.07200000286102295px;
  line-height:29px;
}
.Rent-Controlled-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.Navigation-Tab-2{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:38.4%;
  width:38.4608%;
  height:100%;
  margin-top:0%;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(203, 204, 199, 1);
}
.Navigation-Tab-2-outer{
  pointer-events:none;
  z-index:33;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Rent-Stabilized-1{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:35px;
  width:170px;
  min-width:170px;
  margin-top:11px;
  margin-bottom:10px;
  min-height:29px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(102, 102, 102, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:24px;
  letter-spacing:-0.07200000286102295px;
  line-height:29px;
}
.Rent-Stabilized-1-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.Frame-1{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:331px;
  width:777px;
  min-width:777px;
  height:512px;
  margin-top:-565px;
  margin-bottom:53px;
  min-height:512px;
  background-color:rgba(255, 255, 255, 1);
}
.Frame-1-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.Dropdown-3{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:16px;
  width:738px;
  min-width:738px;
  height:79px;
  margin-top:40px;
  margin-bottom:393px;
  min-height:79px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(203, 204, 199, 1);
  box-sizing:border-box;
  border-radius:2px;
}
.Dropdown-3-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Beds-3{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:7px;
  width:667px;
  min-width:667px;
  margin-top:14px;
  margin-bottom:13px;
  min-height:49px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:36px;
  letter-spacing:-0.10800000429153442px;
  line-height:44px;
}
.Beds-3-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Chevron-2{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:705px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:-52px;
  margin-bottom:25px;
  min-height:24px;
  overflow:hidden;
}
.Chevron-2-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Arrow-3{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:20.833333333333332%;
  width:58.333333333333336%;
  height:33.333333333333336%;
  margin-top:33.333333333333336%;
  content:url(../img/Arrow_3.png);
}
.Arrow-3-outer{
  pointer-events:none;
  z-index:16;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Dropdown-2{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:16px;
  width:738px;
  min-width:738px;
  height:79px;
  margin-top:-381px;
  margin-bottom:302px;
  min-height:79px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(203, 204, 199, 1);
  box-sizing:border-box;
  border-radius:2px;
}
.Dropdown-2-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Beds-2{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:7px;
  width:667px;
  min-width:667px;
  margin-top:14px;
  margin-bottom:13px;
  min-height:49px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:36px;
  letter-spacing:-0.10800000429153442px;
  line-height:44px;
}
.Beds-2-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Chevron-1{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:705px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:-52px;
  margin-bottom:25px;
  min-height:24px;
  overflow:hidden;
}
.Chevron-1-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Arrow-2{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:20.833333333333332%;
  width:58.333333333333336%;
  height:33.333333333333336%;
  margin-top:33.333333333333336%;
  content:url(../img/Arrow_2.png);
}
.Arrow-2-outer{
  pointer-events:none;
  z-index:20;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Dropdown-1{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:16px;
  width:738px;
  min-width:738px;
  height:79px;
  margin-top:-290px;
  margin-bottom:211px;
  min-height:79px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(203, 204, 199, 1);
  box-sizing:border-box;
  border-radius:2px;
}
.Dropdown-1-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Beds-1{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:7px;
  width:667px;
  min-width:667px;
  margin-top:14px;
  margin-bottom:13px;
  min-height:49px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:36px;
  letter-spacing:-0.10800000429153442px;
  line-height:44px;
}
.Beds-1-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Chevron{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:705px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:-52px;
  margin-bottom:25px;
  min-height:24px;
  overflow:hidden;
}
.Chevron-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Arrow-1{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:20.833333333333332%;
  width:58.333333333333336%;
  height:33.333333333333336%;
  margin-top:33.333333333333336%;
  content:url(../img/Arrow_1.png);
}
.Arrow-1-outer{
  pointer-events:none;
  z-index:24;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Dropdown{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:16px;
  width:738px;
  min-width:738px;
  height:79px;
  margin-top:-199px;
  margin-bottom:120px;
  min-height:79px;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(203, 204, 199, 1);
  box-sizing:border-box;
  border-radius:2px;
}
.Dropdown-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Beds{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:7px;
  width:667px;
  min-width:667px;
  margin-top:14px;
  margin-bottom:13px;
  min-height:49px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:36px;
  letter-spacing:-0.10800000429153442px;
  line-height:44px;
}
.Beds-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.Arrow{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:705px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:-52px;
  margin-bottom:25px;
  min-height:24px;
  overflow:hidden;
}
.Arrow-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.Arrow{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:16.666666666666668%;
  width:66.66666666666667%;
  height:66.66666666666667%;
  margin-top:16.666666666666668%;
  content:url(../img/Arrow.png);
}
.Arrow-outer{
  pointer-events:none;
  z-index:28;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Button{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:16px;
  width:738px;
  min-width:738px;
  height:51px;
  margin-top:-108px;
  margin-bottom:57px;
  min-height:51px;
  background-color:rgba(0, 40, 107, 1);
  border-radius:10px;
  overflow:hidden;
}
.Button-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.q---Label{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:-25px;
  width:110px;
  height:43px;
  margin-top:0px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Lato;
  font-weight:600;
  font-size:36px;
  line-height:44px;
}
.q---Label-outer{
  pointer-events:none;
  z-index:30;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
  align-items:center;
}
.Most-Recent-Searches{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:16px;
  width:738px;
  min-width:738px;
  margin-top:-45px;
  margin-bottom:25px;
  min-height:20px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 40, 107, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:24px;
  letter-spacing:-0.07200000286102295px;
  line-height:29px;
}
.Most-Recent-Searches-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Navigation-Tab{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:58.125%;
  width:16.666666666666668%;
  height:4.8828125%;
  margin-top:28.40277777777778%;
  background-color:rgba(255, 255, 255, 1);
  border:1px solid rgba(203, 204, 199, 1);
}
.Navigation-Tab-outer{
  pointer-events:none;
  z-index:37;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Rent-Stabilized{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:93px;
  width:54px;
  min-width:54px;
  margin-top:11px;
  margin-bottom:10px;
  min-height:29px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(102, 102, 102, 1);
  font-style:normal;
  font-family:Inter;
  font-weight:400;
  font-size:24px;
  letter-spacing:-0.07200000286102295px;
  line-height:29px;
}
.Rent-Stabilized-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
