
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Roboto:ital,wght@0,400;1,300&display=swap');

  .saved{
      display: flex;
  }

  .saved-list{
      /* border-style: solid; */
      margin: 50px;
      position: absolute;
      left: 200px;
  }
  
  #saved-list-box-title{
      font-weight: 500;
      font-size: 35px;
      color: #00286B;
  }
  
  .saved-box{
      width: 900px;
      margin-top: 30px;
      display: flex;
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      padding: 20px;
  }
  
  .saved-box img{
      width: 160px;
      height: 117px;
      border-radius: 12px;
  }
  .saved-box-text{
      margin-left: 20px;
      width: 800px;
  }
  .saved-box-text p{
      font-weight: 600;
      font-size: 14px;
      color: #141414;
      margin-bottom:10px;
  }
  
  #price{
      font-weight: 600;
      font-size: 16px;
  }
  #status{
    font-weight: 600;
    font-size: 20px;
}
  
  
  .actions{
      display: flex;
      margin-top: 5px;
  }
  
  .actions p{
      margin-right:20px;
      font-weight: normal;
      font-size: 14px;
      color: #00286B;
  }
  
  .actions a{
      display: flex;
      text-decoration: none;
  }
  
  .actions a svg{
      margin-top:3px;
      margin-right: 5px;
  }
  
  #remove{
      margin-left: 400px;
      font-weight: normal;
      font-size: 14px;
      color: #00286B;
  }

  #contact_owner{
      
      right: 0;
      top: 0;
  }

