!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" lang="en" style="height: 100%">

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

  <title>rentta</title>
  <meta name="description" content="rentta Description">
  <meta property="og:title" content="rentta">
  <meta property="og:description" content="rentta Description">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:600,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400">
    <link rel="stylesheet" href="search.css">

      
    </head>
    <body class="websiteBody">
      <div class="Page-outer">
    <div
      id="Page"
      data-name="Page"
      class="Page"
    >
      <div class="Frame-outer">
      <div
        id="Frame"
        data-name="Search Page"
        class="Frame"
      >
        <div class="Navigation-Top-outer">
        <div
          id="Navigation-Top"
          data-name="Navigation Top"
          class="Navigation-Top"
        >
          <div class="rentta-logo-1-remove-outer">
          <img
            id="rentta-logo-1-remove"
            data-name="rentta_logo_1-removebg-preview 1"
            alt="rentta_logo_1-removebg-preview 1"
            class="rentta-logo-1-remove"
          >
          </div>
          <div class="Image-outer">
          <div
            id="Image"
            data-name="Image"
            alt="Image"
            class="Image"
          >
          </div>
          </div>
        </div>
        </div>
        <div class="Navigation-Top-1-outer">
        <div
          id="Navigation-Top-1"
          data-name="Navigation Top"
          class="Navigation-Top-1"
        >
          <div class="rentta-logo-1-remove-1-outer">
          <img
            id="rentta-logo-1-remove-1"
            data-name="rentta_logo_1-removebg-preview 1"
            alt="rentta_logo_1-removebg-preview 1"
            class="rentta-logo-1-remove-1"
          >
          </div>
          <div class="Image-1-outer">
          <div
            id="Image-1"
            data-name="Image"
            alt="Image"
            class="Image-1"
          >
          </div>
          </div>
        </div>
        </div>
        <div class="Navigation-Top-2-outer">
        <div
          id="Navigation-Top-2"
          data-name="Navigation Top"
          class="Navigation-Top-2"
        >
          <div class="rentta-logo-1-remove-2-outer">
          <img
            id="rentta-logo-1-remove-2"
            data-name="rentta_logo_1-removebg-preview 1"
            alt="rentta_logo_1-removebg-preview 1"
            class="rentta-logo-1-remove-2"
          >
          </div>
          <div class="Image-2-outer">
          <div
            id="Image-2"
            data-name="Image"
            alt="Image"
            class="Image-2"
          >
          </div>
          </div>
        </div>
        </div>
        <div class="Rectangle-1-outer">
        <img
          id="Rectangle-1"
          data-name="Rectangle 1"
          alt="Rectangle 1"
          class="Rectangle-1"
        >
        </div>
        <div class="Start-your-search-outer">
        <div
          id="Start-your-search"
          data-name="Start your search"
          class="Start-your-search"
        ><div key="0">Start your search </div>
        </div>
        </div>
        <div class="Navigation-Tab-Full-outer">
        <div
          id="Navigation-Tab-Full"
          data-name="Navigation Tab Full"
          class="Navigation-Tab-Full"
        >
          <div class="Navigation-Tab-1-outer">
          <div
            id="Navigation-Tab-1"
            data-name="Navigation Tab"
            class="Navigation-Tab-1"
          >
            <div class="Rent-Controlled-outer">
            <div
              id="Rent-Controlled"
              data-name="Rent Controlled"
              class="Rent-Controlled"
            ><div key="0">Rent Controlled</div>
            </div>
            </div>
          </div>
          </div>
          <div class="Navigation-Tab-2-outer">
          <div
            id="Navigation-Tab-2"
            data-name="Navigation Tab"
            class="Navigation-Tab-2"
          >
            <div class="Rent-Stabilized-1-outer">
            <div
              id="Rent-Stabilized-1"
              data-name="Rent Stabilized"
              class="Rent-Stabilized-1"
            ><div key="0">Rent Stabilized</div>
            </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        <div class="Frame-1-outer">
        <div
          id="Frame-1"
          data-name="Frame 1"
          class="Frame-1"
        >
          <div class="Dropdown-3-outer">
          <div
            id="Dropdown-3"
            data-name="Dropdown"
            class="Dropdown-3"
          >
            <div class="Beds-3-outer">
            <div
              id="Beds-3"
              data-name="Beds"
              class="Beds-3"
            ><div key="0">Beds</div>
            </div>
            </div>
            <div class="Chevron-2-outer">
            <div
              id="Chevron-2"
              data-name="Chevron"
              class="Chevron-2"
            >
              <div class="Arrow-3-outer">
              <img
                id="Arrow-3"
                data-name="Arrow"
                alt="Arrow"
                class="Arrow-3"
              >
              </div>
            </div>
            </div>
          </div>
          </div>
          <div class="Dropdown-2-outer">
          <div
            id="Dropdown-2"
            data-name="Dropdown"
            class="Dropdown-2"
          >
            <div class="Beds-2-outer">
            <div
              id="Beds-2"
              data-name="Beds"
              class="Beds-2"
            ><div key="0">Baths</div>
            </div>
            </div>
            <div class="Chevron-1-outer">
            <div
              id="Chevron-1"
              data-name="Chevron"
              class="Chevron-1"
            >
              <div class="Arrow-2-outer">
              <img
                id="Arrow-2"
                data-name="Arrow"
                alt="Arrow"
                class="Arrow-2"
              >
              </div>
            </div>
            </div>
          </div>
          </div>
          <div class="Dropdown-1-outer">
          <div
            id="Dropdown-1"
            data-name="Dropdown"
            class="Dropdown-1"
          >
            <div class="Beds-1-outer">
            <div
              id="Beds-1"
              data-name="Beds"
              class="Beds-1"
            ><div key="0">Budget</div>
            </div>
            </div>
            <div class="Chevron-outer">
            <div
              id="Chevron"
              data-name="Chevron"
              class="Chevron"
            >
              <div class="Arrow-1-outer">
              <img
                id="Arrow-1"
                data-name="Arrow"
                alt="Arrow"
                class="Arrow-1"
              >
              </div>
            </div>
            </div>
          </div>
          </div>
          <div class="Dropdown-outer">
          <div
            id="Dropdown"
            data-name="Dropdown"
            class="Dropdown"
          >
            <div class="Beds-outer">
            <div
              id="Beds"
              data-name="Beds"
              class="Beds"
            ><div key="0">Address, Neighborhood, Zip</div>
            </div>
            </div>
            <div class="Arrow-outer">
            <div
              id="Arrow"
              data-name="Arrow"
              class="Arrow"
            >
              <div class="Arrow-outer">
              <img
                id="Arrow"
                data-name="Arrow"
                alt="Arrow"
                class="Arrow"
              >
              </div>
            </div>
            </div>
          </div>
          </div>
          <div class="Button-outer">
          <div
            id="Button"
            data-name="Button"
            class="Button"
          >
            <div class="q---Label-outer">
            <div
              id="q---Label"
              data-name="✏️ Label"
              class="q---Label"
            ><div key="0">Search</div>
            </div>
            </div>
          </div>
          </div>
          <div class="Most-Recent-Searches-outer">
          <div
            id="Most-Recent-Searches"
            data-name="Most Recent Searches"
            class="Most-Recent-Searches"
          ><div key="0">Most Recent Searches</div>
          </div>
          </div>
        </div>
        </div>
        <div class="Navigation-Tab-outer">
        <div
          id="Navigation-Tab"
          data-name="Navigation Tab"
          class="Navigation-Tab"
        >
          <div class="Rent-Stabilized-outer">
          <div
            id="Rent-Stabilized"
            data-name="Rent Stabilized"
            class="Rent-Stabilized"
          ><div key="0">Both</div>
          </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    
    </body>
  </html>
