<header class="header">
	<nav class="nav nav--tours">
	  <a href="#" class="nav__el">All Listings</a>
	  <form class="nav__search">
	    <button class="nav__search-btn">
	      <svg>
		<use xlink:href="img/icons.svg#icon-search"></use>
	      </svg>
	    </button>
	    <input
	      type="text"
	      placeholder="Filter Listings"
	      class="nav__search-input"
	    />
	  </form>
	</nav>
	<div class="header__logo">
	  <img src="../img/logo.jpeg" alt="logo" />
	</div>
	<nav class="nav nav--user">
	  <a href="#" class="nav__el">Messages</a>
	  <a href="#" class="nav__el">
	    <img src="img/user.jpeg" alt="User photo" class="nav__user-img" />
	    <span>Jimi Hendrix</span>
	  </a>
  
	  <!-- <button class="nav__el">Log in</button>
	  <button class="nav__el nav__el--cta">Sign up</button> -->
	</nav>
</header>
<div class="container">
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/style2.css" />
	<!-- <link rel="stylesheet" href="../css/style.css" /> -->
	<!-- <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
	<img src="../img/user2.jpeg" alt="User photo" class="left" />
	<p>How's the UI design project going?</p>
	<span class="time-right">11:00</span>
      </div>
      
      <div class="container darker">
	<img src="../img/user.jpeg" alt="User photo" class="right" />
	<!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
	<p>It's going.</p>
	<span class="time-left">11:01</span>
      </div>
      
      <div class="container">
	<!-- <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
	<img src="../img/user2.jpeg" alt="User photo" class="left" />
	<p>Aren't you a rocker? Why are you coding?</p>
	<span class="time-right">11:02</span>
      </div>
      
      <div class="container darker">
	<!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
	<img src="../img/user.jpeg" alt="User photo" class="right" />
	<p>Rock music went out of style so I am switching careers :( </p>
	<span class="time-left">11:05</span>
</div>